body{
	 background-color: lightgray;

	font-family: 'Montserrat', sans-serif;
font-weight: 100;

}
h1{
	width: 500px;

	background-color:white ;
	text-align: center;
}

.sectionmargin{	
	margin-top: 45px;
}
button{
	background-color: ;
}

.button {
  background-color: lightgray; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.card 
{
	border-style: groove;
	margin: 50px;
  border-radius: 25px;


}

.btn {
	background-color: lightgray;
	border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div {
  padding-top: 5px;
  padding-right: 3px;
  padding-bottom: 5px;
  padding-left: 8px;
}
.navbar
{
  margin: 50px;
  border-radius: 25px;
  height: 100px;
}
iframe{
  border-radius: 25px;
}
.maps{
  float: left;
  margin: 50px;
}

.div1
{
  float: left;
  width: 50%

}

